@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Raleway font */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap'); */



:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Raleway', Arial, Helvetica, sans-serif;

}

.swal-high-zindex
{
  z-index: 10001 !important;
}

@media (min-width: 1024px) { /* lg */
  .pricing-box:nth-child(1) { height: 50vh !important; }
  .pricing-box:nth-child(2) { height: 60vh !important; }
  .pricing-box:nth-child(3) { height: 50vh !important; }
}

@media (min-width: 1280px) { /* xl */
  .pricing-box:nth-child(1) { height: 40vh !important; }
  .pricing-box:nth-child(2) { height: 50vh !important; }
  .pricing-box:nth-child(3) { height: 40vh !important; }
}
